@media only screen and (max-width: 600px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .icons i {
        padding: 10px;
        margin-bottom: 30px;
    }

    .iconsAndSearch, .logoAndMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #search {
        width: 150px;
    }

    .menu {
        margin-top: 30px;
    }

    .menu a {
        font-size: 8pt;
    }

    .monitor img {
        max-height: 150px;
        max-width: 150px;
    }

    .mainTitleAndParagraph h2 {
        font-size: 20pt;
    
        margin: 30px 0 30px 0;
    }
    
    .mainTitleAndParagraph p {
        font-size: 12px;
    
        width: 100%;

        line-height: 15px;
    }

    .mainTitleAndParagraph a {
        font-size: 12px;

        padding: 8px;
    }

    .threeArticles {
        padding: 30px 0 30px 0;
        display: flex;
        flex-direction: column;
    }

    .article1, .article2, .article3 {
        width: 300px;

        margin: 30px 0 30px 0;
    }

    .article1 a, .article2 a, .article3 a {
        font-size: 12px;

        padding: 8px; 
    }

    .phrase {
        width: 90%;
    
        margin: 30px auto 30px auto;
    
        font-size: 15pt;
    }

    .threeSmallArticles {
        display: flex;
        flex-direction: column;
    }

    .smTitleAndParagraph {
        display: flex;
        flex-direction: column;
    
        width: 70%;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .contact, .links, .blog, .newsletter {
        width: 100%;
    }

    .links, .blog {
        margin-top: 30px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .icons i {
        padding: 10px;
        margin-bottom: 0px;
    }

    .iconsAndSearch {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logoAndMenu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #search {
        width: 150px;
    }

    .menu {
        margin-top: 30px;
    }

    .menu a {
        font-size: 10pt;
        margin: 0 5px 0 5px;
    }

    .monitor img {
        max-height: 300px;
        max-width: 300px;
    }

    .mainTitleAndParagraph h2 {
        font-size: 22pt;
    
        margin: 30px 0 30px 14px;
    }
    
    .mainTitleAndParagraph p {
        font-size: 15px;

        margin-left: 14px;
    
        width: 100%;

        line-height: 15px;
    }

    .mainTitleAndParagraph a {
        font-size: 12px;

        margin-left: 14px;

        padding: 8px;
    }

    .phrase {
        width: 90%;
    
        margin: 30px auto 30px auto;
    
        font-size: 18pt;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
    
    .contact, .links, .blog, .newsletter {
        width: 100%;
    }
    
    .contact h3, .links h3, .blog h3, .newsletter h3 {
        font-size: 18pt;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .iconsAndSearch {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logoAndMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    #search {
        width: 200px;
    }

    .menu {
        width: 50%;
        text-align: center;
    }

    .menu a {
        font-size: 10pt;
        margin-right: 30px;
    }

    .monitor img {
        max-height: 350px;
        max-width: 350px;
    }

    .mainTitleAndParagraph h2 {
        font-size: 25pt;
    }
    
    .mainTitleAndParagraph p {
        font-size: 16px;
    }

    .threeArticles {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .article1, .article2, .article3 {
        margin-bottom: 30px;
    }

    .article1 h3, .article2 h3, .article3 h3 {
        font-size: 15pt;
    }

    .article1 p, .article2 p, .article3 p {
        font-size: 18px;
    }
    
    .contact, .links, .blog, .newsletter {
        width: 100%;

        margin-bottom: 30px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {

    .container {
        display: flex;
        flex-direction: column;
    
        margin: 50px auto 0 auto;
    
        width: 80vw;
        height: 100vh;
    }

    .iconsAndSearch {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #search {
        width: 250px;
    }

    .logoAndMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        width: 60%;
        text-align: center;
    }

    .menu a {
        font-size: 10pt;
        margin: 10px;
    }

    .monitor img {
        max-height: 450px;
        max-width: 450px;
    }
    
    .mainTitleAndParagraph p {
        font-size: 20px;
    }

    .threeArticles {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .phrase {
        text-align: center;

        width: 90%;
    
        font-size: 21pt;
        font-style: italic;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        margin-top: 50px;
        padding: 20px; 
    
        background-color: #191919;
    }
    
    footer a {
        text-decoration: none;
    
        color: #43B0BF;
    }
    
    footer h3 {
        color: #FFF;
    }
    
    footer p, h4, li {
        color: #BBBBBB;
    }
    
    .contact, .blog {
        line-height: 20px;
    }
    
    .links {
        line-height: 30px;
    }
    
    .contact, .links, .blog, .newsletter {
        width: 50%;
    }
    
    .contact h3, .links h3, .blog h3, .newsletter h3 {
        font-size: 15pt;
    
        margin-bottom: 20px;
    }
    
    .blog p {
        width: 150px;
    }
    
    .blog a {
        margin-left: 150px;
    
        line-height: 40px;
    }
    
    #name, #email {
        width: 200px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .menu {
        width: 100%;
        text-align: end;
    }

    .menu a {
        font-size: 10pt;
        margin: 20px;
    }

    .monitor img {
        max-height: 500px;
        max-width: 500px;
    }
    
    .mainTitleAndParagraph p {
        font-size: 20px;
        line-height: 22px;
    }

    .mainTitleAndParagraph a {
        padding: 12px;
    }

    .threeArticles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .article1 a, .article2 a, .article3 a {
        padding: 8px; 
    }

}