.container {
    display: flex;
    flex-direction: column;

    margin: 50px auto 0 auto;

    width: 80vw;
}

.icons i {
    padding: 10px;
    border-radius: 50%;
    
    color: #FFF;
    background-color: #000;

    text-underline-position: unset;

    margin: 0 5px 0 5px; 
}

.icons a {
    text-decoration: none; 
}

.icons i:hover {
    background-color: #FF8800;
}

.inline-list li {
    display: inline;
}

.iconsAndSearch, .logoAndMenu {
    display: flex;
    justify-content: space-between;
}

#search {
    height: 30px;
    width: 250px;

    padding-left: 10px;

    color: #ccc;
    background-color: #333333;
    
    border: 1px solid #333333;
    border-radius: 10px;

    outline: none;
}

#searchSubmit {
    height: 34px;

    color: #FFF;
    background-color: #43B0BF;

    border: 1px solid #43B0BF;
    border-radius: 10px;

    outline: none;

    text-transform: uppercase;
}

#searchSubmit:hover {
    cursor: pointer;
}

.logoAndMenu {
    margin-top: 30px;
    margin-bottom: 20px;
}

.logo a {
    color: #000;
    text-decoration: none;
}

.logo span {
    font-size: 40pt;
}

.logo h1 {
    font-size: 30pt;
    text-transform: uppercase;
}

.logo p {
    font-size: 15pt;
    color: #BBBBBB;
}

.menu {
    margin-top: 60px;
}

.menu a {
    font-weight: 700;

    text-transform: uppercase;
    text-decoration: none;
    
    color: #BBBBBB;

    margin: 0px 20px 0px 20px;
}

.menu a:hover {
    color: #43b1bf62;
}

.menu a:focus{
    color: #43B0BF;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #BBBBBB;
    padding-top: 50px;
    margin-bottom: 50px;
}

.monitor, .mainTitleAndParagraph {
    height: 50%;
    width: 50%;
}

.monitor img {
    max-height: 800px;
    max-width: 800px;
}

.mainTitleAndParagraph h2 {
    font-size: 35pt;
    text-transform: uppercase;

    margin: 50px 0 50px 0;
}

.mainTitleAndParagraph p {
    color:#BBBBBB;

    font-size: 18px;

    margin-bottom: 30px;

    width: 65%;
    line-height: 20px;
}

.mainTitleAndParagraph a {
    text-decoration: none;
    text-transform: uppercase;

    padding: 10px;

    border: 1px solid #43B0BF;
    border-radius: 10px;

    color: #FFF;
    background-color: #43B0BF;
}

.threeArticles {
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;

    padding: 50px 0 50px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article1, .article2, .article3 {
    width: 300px;
}

.article1 h3, .article2 h3, .article3 h3 {
    text-transform: uppercase;

    margin: 20px 0 20px 0;
}

.article1 p, .article2 p, .article3 p {
    color: #BBBBBB;
    margin-bottom: 20px;
}

.article1 a, .article2 a, .article3 a {
    color: #FFF;
    background-color: #43B0BF;

    border: 1px solid #43B0BF;
    border-radius: 10px;

    text-decoration: none;
    text-transform: uppercase;

    padding: 5px; 
}

.md-image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 160px;
    width: 300px;

    background-color: #353535;
    color: #FFF;

    font-weight: 700;
}

.md-image p {
    color: #FFF;
}

.phrase {
    width: 55%;

    margin: 50px auto 50px auto;

    color: #BBBBBB;

    font-size: 21pt;
    font-style: italic;
}

.sixArticles {
    display: flex;
    flex-direction: column;
}

.threeSmallArticles {
    display: flex;
}

.smArticle1, .smArticle2, .smArticle3,
.smArticle4, .smArticle5, .smArticle6 {
    display: flex;

    margin: 30px 0 30px 0;
}

.sm-image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    background-color: #353535;
    color: #FFF;

    font-weight: 700;
}

.smTitleAndParagraph {
    display: flex;
    flex-direction: column;

    width: 45%;

    margin-left: 20px;
}

.smTitleAndParagraph h4 {
    color: #43B0BF;
}

.smTitleAndParagraph p {
    color: #BBBBBB;
    
    line-height: 20px;

    margin-top: 8px;
}

footer {
    display: flex;
    justify-content: center;

    margin-top: 50px;
    padding: 20px; 

    background-color: #191919;
}

footer a {
    text-decoration: none;

    color: #43B0BF;
}

footer h3 {
    color: #FFF;
}

footer p, h4, li {
    color: #BBBBBB;
}

.contact, .blog {
    line-height: 20px;
}

.links {
    line-height: 30px;
}

.contact, .links, .blog, .newsletter {
    width: 25%;
}

.contact h3, .links h3, .blog h3, .newsletter h3 {
    font-size: 15pt;

    margin-bottom: 20px;
}

.blog p {
    width: 280px;
}

.blog a {
    margin-left: 150px;

    line-height: 40px;
}

#name, #email {
    height: 30px;
    width: 250px;

    color: #BBBBBB;
    background-color: #2C2C2C;

    border: 1px solid #2C2C2C;
    border-radius: 5px;

    outline: none;

    padding-left: 10px;
    margin: 5px 0 5px 0;
}

#submit {
    width: 80px;

    text-transform: uppercase;

    color: #FFF;

    background-color: #43B0BF;

    border: 1px solid #43B0BF;
    border-radius: 5px;

    padding: 10px;
    margin-top: 5px;
}